@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css");
@import url('https://fonts.googleapis.com/css?family=Lato:300');
html, body {
    height: 100%;
}
.align-center{
    text-align: center;
}
.float-none{
    float: none;
}
body {
    background: #334D91;
    font-family: 'Lato', sans-serif;
}
header.row, section.row{
    background: #FFF;
}
.navbar-inverse{
    background-color: #2A407F;
    border:none;
    border-radius: 0;
}
.navbar-inverse .navbar-nav>li>a{
    color: #FFF;
}
nav .col-xs-12 ul.mobile-bar li a:hover{
    font-weight: bold;
    color: #ffff00;
}
footer{
    background-color: #e6e6e6;
}
footer .navbar-nav {
    width: 100%;
    text-align: center;
}
footer .navbar-nav > li {
    float: none;
    display: inline-block;
    padding-bottom: 5px;
}
footer .navbar{
    border: none;
    border-radius: 0;
    background-color: transparent;
    margin-bottom: 0;
}
footer .footer-nav ul li a{
    border-right: 1px solid #ccc;
}
footer img{
    width: 20px;
}
.advertise{
    margin-top: 15px;
    margin-bottom: 15px;
}
.advertise button{
    background-color: #e6e6e6;
    margin: 0 auto !important;
}
.form-control{
    border-radius: 0;
}
.btn{
    border-radius: 0;
}
.file-section{
    color: #ccc;
    padding: 30px;
    border: 1px dashed #ccc;
}
.file-section .fa-photo{
    font-size: 50px;
}
.file-section .btn-file{
    color: #5f5f5f;
    margin-top: 10px;
}
#image_preview img{
    max-height: 150px;
}
.animate {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.navbar {
    height: calc(100%);
    max-height: 300px;
    -webkit-transform: translate(0px, calc(-100% + 69px));
    transform: translate(0px, calc(-100% + 69px));
}
.navbar-nav.mobile-bar {
    list-style: none;
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-align-items: stretch;
    align-items: stretch;
    margin: 0px 0px;
}
.navbar-nav.mobile-bar > li {
    -webkit-flex-grow: 1;
    flex-grow: 1;
    text-align: center;
}
.navbar-nav.mobile-bar > li > a > span.menu-icon {
    display: block;
    font-size: 1.8em;
}
.navbar-more {
    background-color: rgb(255, 255, 255);
    height: calc(100% - 69px);
    overflow: auto;
}
select {
    text-align: center;
    text-align-last: center;
    /* webkit*/
}
::-webkit-input-placeholder {
    text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
    text-align: center;
}

::-moz-placeholder {  /* Firefox 19+ */
    text-align: center;
}

:-ms-input-placeholder {
    text-align: center;
}
input[type="date"]:before {
    content: attr(placeholder) !important;
    color: #aaa;
    margin-right: 0.5em;
    margin-left: 43%;
}
input[type="date"]:focus:before,
input[type="date"]:valid:before {
    content: "";
}
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-year-field,
::-webkit-datetime-edit-text {
    color: transparent;
}
.navbar-nav.mobile-bar > li > a > span.menu-icon{
    display: block;
}
@media (min-width: 768px) {
    .navbar {
        height: auto;
        -webkit-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
    }
    .navbar-nav.mobile-bar {
        display: block;
        max-height: 64px;
    }
    .navbar-nav.mobile-bar > li > a > span.menu-icon {
        display: none;
    }
}
@media (max-width:767px) and (min-width:575px) {
    .navbar-nav.mobile-bar > li > a{
        font-size: 12px;
        border-right: 1px solid #ccc;
    }
    .navbar-nav.mobile-bar > li:last-child a{
        border: none;
        padding-right: 0;
    }
    .navbar-nav.mobile-bar > li > a > span.menu-icon img{
        width: 28px;
    }
}
@media (max-width:574px) and (min-width:421px) {
    .navbar-nav.mobile-bar > li > a{
        padding: 5px 2px;
        font-size: 10px;
        border-right: 1px solid #ccc;
    }
        .navbar-nav.mobile-bar > li:last-child a{
        border: none;
        padding-right: 0;
    }
        .navbar-nav.mobile-bar > li > a > span.menu-icon img{
        width: 24px;
    }
        .advertise button.btn-default{
        font-size: 10px;
    }
    }
@media (max-width:510px) and (min-width:421px) {
    footer .footer-nav .navbar-nav{
        position: relative;
        top: 40px;
    }
}
    @media (max-width: 420px) {
    .navbar-nav.mobile-bar > li > a{
        padding: 0 2px;
        font-size: 8px;
        margin-top: 10px;
        border-right: 1px solid #ccc;
    }
    .navbar-nav.mobile-bar > li:first-child a{
        padding-left: 0;

    }
    .navbar-nav.mobile-bar > li:last-child a{
        border: none;
        padding-right: 0;
    }
    .navbar-nav.mobile-bar > li > a > span.menu-icon img{
        width: 18px;
    }
    .advertise button.btn-default{
        font-size: 8px;
    }
    footer .footer-nav .navbar-nav{
        position: relative;
        top: 40px;
    }
}
/*-------------------------Image Upload CSS------------------------------*/
#formdiv {
    text-align: center;
}
#file {
    color: green;
    padding: 5px;
    border: 1px dashed #123456;
    background-color: #f9ffe5;
}
#img {
    width: 17px;
    border: none;
    height: 17px;
    margin-left: -20px;
    margin-bottom: 191px;
}
.upload {
    width: 100%;
    height: 30px;
}
.previewBox {
    text-align: center;
    position: relative;
    width: 150px;
    height: 150px;
    margin-right: 10px;
    margin-bottom: 20px;
    float: left;
}
.previewBox img {
    height: 150px;
    width: 150px;
    padding: 5px;
    border: 1px solid rgb(232, 222, 189);
}
.delete {
    color: red;
    font-weight: bold;
    position: absolute;
    top: 0;
    cursor: pointer;
    width: 20px;
    height:  20px;
    border-radius: 50%;
    background: #ccc;
}